<div class="row">
  <div class="col-sm">
    <%= link_to 'All Sample Invoices', exrecs_path, :class => "btn btn-outline-success btn-lg btn-block" %>
  </div>
  <div class="col-sm">
    <%= link_to 'New Sample Invoice', new_exrec_path, :class => "btn btn-outline-danger btn-lg btn-block"  %>
  </div>
  <div class="col-sm">
    <%= link_to 'New Layway Purchase', new_layrec_path, :class => "btn btn-outline-warning btn-lg btn-block"  %>
  </div>
  <div class="col-sm">
    <%= link_to 'All Layaway Invoices', layrecs_path, :class => "btn btn-outline-info btn-lg btn-block" %>
  </div>
</div><br>
<%= link_to 'New Purchase Please Click to Start!', new_person_path, :class => "btn btn-outline-success btn-lg btn-block" %><br>

<button type="button" class="btn btn-info btn-lg btn-block">
  <h3>All Invoices!</h3>
</button>
<center>
  <table id="person" class="table table-striped table-bordered" style="width: 1000px;">
  <thead class="table-success">
    <tr>
      <th>qty</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Date</th>
      <% if current_user  && current_user.admin? %>
        <th>Action</th>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.id %></td>
        <td><%= link_to person.name, person %></td>
        <td><%= number_to_phone person.phone %></td>
        <td><%= person.created_at.strftime('%m/%d/%Y') %></td>
        <% if current_user  && current_user.admin? %>
          <td><%= link_to 'Edit', edit_person_path(person) %></td>
          <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
<br>
